.header {
	background-color: #1e76b5;
	position: fixed; 
	top:0; 
	left:0;
	width:100vw;
	min-height: 45px;
	z-index:300;
}

.navBar {
	display: table-cell;
	background-color: #8cb755;
	position: fixed; 
	top:0; 
	left:0;
	width:100vw;
	height: 95px;
	z-index:200;
	vertical-align: bottom; 
	box-shadow:0px 2px 10px black;
}

.chatBar {
	position: fixed; 
	background-color: #505050; 
	height:100vh;
	width:300px;
	z-index: 100; 
	right:0;
}

.header_btn {
	height: 30px;
	width: 30px;
	background-color: #1e76b5;
	border-radius: 5px;
	display: inline;
	float: right;
	border: 0px;
	margin: 5px;
	margin-right: 10px;
}

.header_btn:hover {
	box-shadow: 0px 0px 1px white; 	
	background-color: #248cd9;
}

.header_btn:active {
	box-shadow: 0px 0px 1px white inset; 	
}

.header_btn:focus {
	outline: none; 
}

#group {
	height: 35px;
	width: 35px;
	float: left;
	margin-left: 10px;
	background-image: url("../images/group.png");
	background-size: contain;
}

#search {
	background-image: url("../images/search.png");
	background-size: contain;
}

#help {
	background-image: url("../images/help.png");
	background-size: contain;
}

#alert {
	background-image: url("../images/alert.png");
	background-size: contain;
}

#user {
	background-image: url("../images/user.png");
	background-size: contain;
}

.custom_btn {
	height: 27px;
	background-color: #2860c9;
	border-radius: 5px;
	border: 0px; 
	position: absolute;
	left:0;
	bottom:0;
	margin: 4px;
	margin-left:10px;
	color:white;
}

.custom_btn:hover {
	box-shadow: 2px 2px 3px black; 	
	background-color: #2660ca;
}

.custom_btn:active {
	box-shadow: 2px 2px 3px black inset; 	
}

.custom_btn:focus {
	outline: none; 
}

